﻿
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        
        <div class="form-group">
            <div class="col-md-2"><label>Gate</label></div>
            <div class="col-md-4">
                <select class="form-control" ng-model="selectedGate" ng-options="gate.number for gate in gates">
                    <option value="">All</option>
                </select>
            </div>
            <div class="col-md-2"><a class="btn btn-default" href="#flight/add" role="button">Add Flight</a></div>
        </div>


        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Flight ID</th>
                    <th>Flight No</th>
                    <th>Gate</th>
                    <th>Arrival</th>
                    <th>Departure</th>
                    <th>Cancelled</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="flight in flights | filter:filterExpression">
                    <td>
                        {{ flight.id }}
                    </td>
                    <td>
                        <a href="#flights/update/{{ flight.id }}"> {{ flight.number }}</a>
                    </td>
                    <td>
                        {{ flight.gateNumber }}
                    </td>
                    <td>
                        {{ flight.arrivalTime | date:'dd/MM/yyyy hh:mm:ss a'}}
                    </td>
                    <td>
                        {{ flight.departureTime | date:'dd/MM/yyyy hh:mm:ss a'}}
                    </td>
                    <td>
                        <input type="checkbox" data-ng-model="flight.isCancelled" disabled="disabled">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
