﻿<form class="form-horizontal" ng-submit="saveFlight()">
    <div class="form-group">
        <label for="flightNumber" class="col-sm-2 control-label">Flight Number</label>
        <div class="col-sm-10">
            <input type="text" ng-model="flight.number" class=" form-control" id="flightNumber" placeholder="Flight Number" required>
        </div>
    </div>
    <div class="form-group">
        <label for="arrivalTime" class="col-sm-2 control-label">Arrival Time</label>
        <div class="col-sm-10">
            <input type="datetime-local" ng-model="flight.arrivalTime" class="form-control" id="arrivalTime" placeholder="yyyy-MM-ddTHH:mm" required>
        </div>
    </div>
    <div class="form-group">
        <label for="arrivalTime" class="col-sm-2 control-label">Departure Time</label>
        <div class="col-sm-10">
            <input type="datetime-local" ng-model="flight.departureTime" class="form-control" id="departureTime" placeholder="yyyy-MM-ddTHH:mm" required>
        </div>
    </div>

    <div class="form-group">
        <label for="arrivalTime" class="col-sm-2 control-label">Gate</label>
        <div class="col-sm-10">
            <select class="form-control" ng-model="selectedGate" ng-options="gate.number for gate in gates track by gate.id" required>
                <option value="">Select</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="flight.isCancelled"> Cancelled
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>