﻿<!DOCTYPE html>
<html data-ng-app="FlightDashboardApp">
<head>
    <meta name="keywords" content="angularjs,SPA,Single Page Application,refresh tokens,authentication,bearer token authentication,OWIN,bootstrap,bootstrap ui,tutorial,JS framework,ASP.NET WEB API 2,Abu Sazzad" />
    <meta name="description" content="SPA built using angularjs,authentication is done using bearer token,back end built using Asp.net web api 2 and OWIN Framework,creatd by Abu Sazzad" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <meta http-equiv="Content-Security-Policy" content="default-src &apos;self&apos; http://localhost:4132 http://localhost:17398 http://fonts.gstatic.com data: gap: https://ssl.gstatic.com; style-src &apos;self&apos; http://localhost:4132 http://fonts.gstatic.com &apos;unsafe-inline&apos;; script-src &apos;self&apos; http://localhost:4132 http://localhost:17398 http://ajax.googleapis.com;media-src *">

    <title>Cloud Flight Dashboard</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="flightsController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#/flights">Flights</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h3>Flight Dashboard</h3>
            </div>
            <!--<p>Flight monitoring system</p>-->
        </div>
    </div>
    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <hr />
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">Created by <a target="_blank" href="https://au.linkedin.com/in/abusazzad">Abu Sazzad</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>
    <!-- Load services -->
    <script src="app/services/flightsService.js?v=2"></script>
    <script src="app/services/gatesService.js?v=2"></script>
    <!-- Load controllers -->
    <script src="app/controllers/flightsController.js?v=2"></script>
    <script src="app/controllers/addflightController.js?v=2"></script>
    <script src="app/controllers/updateflightController.js?v=2"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
</body>
</html>
